* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0,212,255);
  background: linear-gradient(135deg, rgba(0,212,255,1) 0%, rgba(224,126,45,1) 100%);
}

.calculator {
  border-radius: 15px;
  height: 420px;
  width: 300px;
  background-color: white;
}

.display {
  width: 100%;
  height: 140px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lastOperation {
  text-align: right;
  width: 270px;
  height: 30%;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 15px;
}

.input {
  width: 270px;
  height: 70%;
  margin: 0 15px;
  border: none;
  text-align: right;
  outline: none;
  caret-color: transparent;
  font-size: xx-large;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.keys {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px;
}

.button:nth-child(1) {
  background-color: rgb(247, 111, 90);
}

.op {
  background-color: rgb(206, 203, 203);
}

.button:nth-child(18) {
  background-color: rgb(108, 180, 225);
}

.button {
  width: 60px;
  height: 48px;
  border-radius: 5px;
  border: none;
  font-size: larger;
  cursor: pointer;
}

.button:hover {
  outline: auto;
}

.double {
  width: 130px;
}
